code_in_C++/Simulation/Prog.exe
.vscode/settings.json
code_in_C++/Simulation/bin/Simulation.o
code_in_C++/Simulation/bin/main.o
DummyHex2566 - Output
Prog.exe
teste
xPLASIM.All3DMats.Single.Zip.Stream
